/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); */

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Arial", sans-serif;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #ffffff;
  color: #800000;
}

header h1 {
  background-color: rgb(148, 15, 15);
  color: rgb(251, 249, 246);
  text-align: center;
  /* padding: 1em 0; */
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

h1 img {
  /* display: flex; */
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
  border-radius: 50px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

header nav ul li a {
  color: hsl(240, 100%, 27%);
  text-decoration: none;
  font-weight: bold;
}

header figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header figcaption {
  display:flex;
  font-style: italic;
} */

p {
  color: black;
  text-align: justify;
}

th,
td,
caption {
  border: 1px solid #333;
  font-family: "Courier New", Courier, monospace;
  border-collapse: separate;
  padding: 0.5rem;
}

.copy {
  text-align: center;
  color: rgb(251, 249, 246);
}

footer {
  background-color: rgb(235, 88, 88); /* Matching the header's vibrant purple */
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}
